.mainStyle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 258px;
    height: 124px;
    border-radius: 10px;
    background-color: #FBFBFB;
    justify-content: space-around;
}


.macroStyle {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    .macroNumber {
        font-size: 20px;
        font-weight: 700;
    }
    .macroInfo {
        font-size: 14px;
        color: #74798C;
    }
    
}



.caloriesStyle {
    font-size: 10px;
    color: #FF0000;
    background-color: #FF0000;
}